  /*Contacto*/
  .h1-contacto {
    color: peachpuff;
    text-align: center;
    margin-top: 100px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 20px wheat;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 500px;
    margin: auto;
    padding-bottom: 200px;
  }
  
  .form-input {
    width: 100%;
    margin:20px auto 0;
    gap: 20px;
    display: flex;
    align-items: center;
    padding: 13px;
    border: 2px solid peachpuff;
  }

  .form-input-2{
    width: 100%;
    margin:20px auto;
    gap: 20px;
    display: flex;
    align-items: center;
    padding: 13px;
    border: 2px solid peachpuff;
  }
  
  .form-textarea {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 13px;
    border: 2px solid peachpuff;
    width: 100%;
    max-height: 300px;
    min-height: 200px;
    min-width: 500px;
    max-width: 500px;
  }
  
  .boton {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    border: 2px solid peachpuff;
    background-color: darkgoldenrod;
    border-radius: 15px;
    color: wheat;
  }
  
  .boton:hover {
    background-color: white;
    color: darkgoldenrod;
  }
  
  @media(max-width:580px){
    .form-container {
      display: flex;
      flex-direction: column;
      width: 400px;
      margin: auto;
      padding-bottom: 200px;
    }

    .form-textarea {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: auto;
      padding: 13px;
      border: 2px solid peachpuff;
      width: 100%;
      max-height: 300px;
      min-height: 200px;
      min-width: 400px;
      max-width: 400px;
    }

    .boton{
      display: flex;
      margin: 20px auto;
      justify-content: center;
    }
    


  
  }