 /*footer*/
 .footer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
  }

.div-1{
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(228, 191, 91);
  font-size: 18px;
}

.redes-footer a{
  color: white;
  font-size: 30px;
  gap: 10px;
  padding: 10px;
}

.redes-footer a:hover{
  color: bisque;
  transition: 0,5s;
}

.div-2{
  display: flex;
  flex-wrap:wrap ;
  gap:10px;
  margin: 10px;
}

.enlaces{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lista{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 15px;
  padding: 20px;
}

.lista a{
  text-decoration: none;
  color: rgb(228, 191, 91);
  font-size: 20px;
}

.lista a:hover{
  color: wheat;
}





  