.video-container{
  width: 60%;
  display: flex;
  padding-top: 150px;
  height: 120vh;
  margin: auto;
}

.video{
  width: 100%;
  opacity: 0.7;
  object-fit:initial;
  border-radius: 20px;
  box-shadow: 30px 15px rgb(48, 48, 47);
}

.inicio-section{
  width: 100%;
  display: flex;
  padding: 100px 150px 100px 150px;
}

.inicio-section1{
  width: 100%;
  display: flex;
  padding: 250px 150px 100px;
}

.inicio-img{
  width: 500px;
  height: 600px;
  display: flex;
  position: relative;
  top: 60px;
  border: solid 3px grey;
}

.inicio-img2{
  width: 500px;
  height: 650px;
  display: flex;
  position: relative;
  top: 45px;
  border: solid 3px gray;
}

.inicio-img3{
  width: 500px;
  height: 600px;
  display: flex;
  position: relative;
  top: 45px;
  border: solid 3px gray;
  
}

.inicio-p{
  display: flex;
  letter-spacing: 2px;
  line-height: 35px;
  font-size: 25px;
  text-align: justify;
  padding: 0 30px;
  color: white;


}

.inicio-div{
  display: flex;
}