.video-container{
  width: 60%;
  display: flex;
  padding-top: 150px;
  height: 120vh;
  margin: auto;
}

.video{
  width: 100%;
  opacity: 0.7;
  object-fit:initial;
  border-radius: 20px;
  box-shadow: 30px 15px rgb(48, 48, 47);
}
/*PRIMERA IMAGEN*/
.inicio{
  margin: 400px auto;
  width: 90%;
}
.inicio img{
  width: 500px;
  height: 600px;
  float: left;
  margin:0 20px 0 40px;
  border: solid 3px grey;
  border-radius: 10px;
}

.inicio-div{
  color: white;
}

.inicio-div h2{
  font-size: 30px;
  color: peachpuff;
}

.inicio-div p{
  font-size: 1.5em;
  text-align: justify;
  padding: 20px;
  letter-spacing: 2px;
}
/*SEGUNDA IMAGEN*/
.inicio-2{
  margin: 250px auto;
  width: 90%;
}

.inicio-2 img{
  width: 500px;
  height: 600px;
  float: right;
  margin: 0 20px 0 40px;
  border: solid 3px grey;
  border-radius: 10px;
}

.inicio-div-2{
  color: white;
}

.inicio-div-2 h2{
  font-size: 30px;
  color: peachpuff;
  padding-left: 20px;
}

.inicio-div-2 p{
  font-size: 1.5em;
  text-align: justify;
  padding: 20px;
  letter-spacing: 3px;
}

/*TERCER IMAGEN*/

.inicio-3{
  margin: 250px auto;
  width: 90%;
}

.inicio-3 img{
  width: 500px;
  height: 600px;
  float: left;
  margin: 0 20px 0 40px;
  border: solid 3px grey;
  border-radius: 10px;
}

.inicio-div-3{
  color: white;
}

.inicio-div-3 h2{
  font-size: 30px;
  color: peachpuff;
}

.inicio-div-3 p{
  font-size: 1.5em;
  text-align: justify;
  padding: 20px;
  letter-spacing: 2px;
}

@media(max-width:1024px){
  .video-container{
    width: 80%;
  } }

@media(max-width:780px){
  .inicio{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 200px auto;
  }

  .inicio-div h2{
    align-items: center;
    text-align: center;
  }

  .inicio img{
    margin: auto;
    width: 400px;
    height: 450px;
  }
/*Inicio 2*/
  .inicio-2{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 250px auto;
  }

  .inicio-2 img{
    margin: auto;
    width: 400px;
    height: 450px;
  }

  .inicio-div-2 h2{
    align-items: center;
    text-align: center;
  }
/*Inicio 3*/
  .inicio-3{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 200px auto;
  }
  .inicio-3 img{
    margin: auto;
    width: 400px;
    height: 450px;
  }
  
  .inicio-div-3 h2{
  align-items: center;
  text-align: center;
}
}

@media(max-width:580px){
  .inicio-div p{
    font-size: 1.2em;
  }

  .inicio-div-2 p{
    font-size: 1.2em;
  }

  .inicio-div-3 p{
    font-size: 1.2em;
  }
}

@media(max-width:480px){
  .video{
    box-shadow: none;
  }

/*INICIO*/
  .inicio{
    width: 90%;
  }

  .inicio img{
    width: 350px;
    height: 400px;
    margin: auto;
  }
/*INICIO 2*/
  .inicio-2{
    width: 90%;
  }

  .inicio-2 img{
    width: 350px;
    height: 400px;
    margin: auto;
  }
/*INICIO 3*/
  .inicio-3{
    width: 90%;
  }

  .inicio-3 img{
    width: 350px;
    height: 400px;
    margin: auto;
  }
}
