  /*Quien Soy*/

.nombre{
  font-size: 3em;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  color: peachpuff;
  text-shadow: 7px 0 2px black;
}


.yo-container{
  padding-top: 150px;
  width: 90%;
  display: flex;
  margin: auto;
}

.yo-container img{
  width: 450px; 
  height: 550px;
  border: solid 3px gray;
  border-radius: 60px 0 60px 0;
}

.yo-container-dos{
  padding-top: 70px;
  padding-bottom: 200px;
  margin: auto;
  width: 90%;
  display: flex;
}

.yo-container-dos img{
  width: 500px;
  width: 600px;
  border: solid 3px gray;
  border-radius: 60px 0 60px 0;
  object-fit: cover;
}

.parrafo1{
  font-size: 2em;
  color:white;
  display: flex;
  padding-left: 50px;
  text-align: justify;
  letter-spacing: 2px;
  
}

.parrafo2{
  font-size: 2em;
  color: white;
  display: flex;
  padding-right: 50px;
  text-align: justify;
  letter-spacing: 2px;
  
}

@media(max-width:1200px){
  .nombre{
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    color: peachpuff;
    text-shadow: 7px 0 2px black;
  }

  .yo-container img{
    width: 400px; 
    height: 500px;
    border: solid 3px gray;
    border-radius: 60px 0 60px 0;
  }
  
  .yo-container-dos img{
    width: 450px;
    width: 550px;
    border: solid 3px gray;
    border-radius: 60px 0 60px 0;
    object-fit: cover;
  }

  .parrafo1{
    font-size: 1.5em;
    color:white;
    display: flex;
    padding-left: 50px;
    text-align: justify;
    letter-spacing: 2px;
    
  }
  
  .parrafo2{
    font-size: 1.5em;
    color: white;
    display: flex;
    padding-right: 50px;
    text-align: justify;
    letter-spacing: 2px;
    
  }
}

@media (max-width:1024px){
  .yo-container{
    padding-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
      img{
        display: flex;
        margin: 0 auto 30px;
      }
      
      p{
        font-size: 1.5em;
        color: white;
        display: flex;
        margin: auto;
        text-align:justify ;
        letter-spacing: 2px;
      }
  }

  
  .yo-container-dos{
  padding-top: 5%;
  padding-bottom: 200px;
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
    img{
      display: flex;
      margin: 30px auto;
    }
  }
  .parrafo2{
    font-size: 1.5em;
    color: white;
    display: flex;
    margin: auto;
    text-align: justify;
    letter-spacing: 2px;
    
  }
}