  /*Quien Soy*/

.nombre{
  font-size: 3em;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  color: peachpuff;
  text-shadow: 7px 0 2px black;
}

/*PRIMERA BIOGRAFIA*/
.yo{
  margin: 100px auto;
  width: 90%;
}

.yo img{
  width: 400px;
  height: 500px;
  float: left;
  border: solid 3px grey;
  margin-right: 30px;
  border-radius: 10px;
}

.yo-biografia{
    color: white;
}

.yo-biografia p{
  font-size: 1.6em;
  letter-spacing: 2px;
  padding: 20px;
  text-align: justify;
}

/*SEGUNDA BIOGRAFIA*/
.yo-dos{
  margin: 300px auto;
  width: 90%;
}

.yo-dos img{
  width: 400px;
  height: 600px;
  float: right;
  border: solid 3px grey;
  border-radius: 10px;
  margin-left: 30px;
}

.yo-biografia-dos{
  color: white;
}

.yo-biografia-dos p{
  font-size: 1.6em;
  letter-spacing: 2px;
  padding: 20px;
  text-align: justify;
}
@media(max-width:780px){
  .yo{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
  }
  .yo img{
    margin: auto; 
  }

/*SEGUNDA IMAGEN*/
  .yo-dos{
    margin: 200px auto;
    display: flex;
    flex-direction: column;
  }
  .yo-dos img{
    margin: auto;
  }
}

@media(max-width:580px){
  .nombre{
    font-size: 2.5em;
  }
}

@media(max-width:480px){


  .nombre{
    font-size: 2em;
  }

  .yo img{
    width: 380px;
    height: 350px;
  }
  .yo-biografia p{
    font-size: 1.1em;
    width: 100%;
  }

  .yo-biografia-dos p{
    font-size: 1.1em;
  }

  .yo-dos img{
    width: 380px;
  }
}
  