  /*Quien Soy*/

.body2{
 background-color: rgb(49, 61, 49);
}
.nombre{
  font-size: 3em;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  color: rgb(228, 191, 91);
  text-decoration: overline;
}



.yo-container{
  padding-top: 150px;
  width: 90%;
  display: flex;
  margin: auto;
}

.yo-container img{
  width: 450px; 
  height: 550px;
  border: double 6px rgb(56, 39, 2);
  border-radius: 60px 0 60px 0;


}

.yo-container-dos{
  padding-top: 70px;
  margin: auto;
  width: 90%;
  display: flex;
}

.yo-container-dos img{
  width: 500px;
  width: 600px;
  border: double 6px rgb(56, 39, 2);
  border-radius: 60px 0 60px 0;
  object-fit: cover;
}

.parrafo1{
  font-size: 2em;
  color: rgb(228, 191, 91);
  display: flex;
  padding-left: 50px;
  text-align: justify;
  letter-spacing: 2px;
}

.parrafo2{
  font-size: 2em;
  color: rgb(228, 191, 91);
  display: flex;
  padding-right: 50px;
  text-align: justify;
  letter-spacing: 2px;
}