body {
  background-color: #171718;
  margin: 0;
}

* {
  scroll-behavior: smooth;
  cursor: pointer;
}

/*header*/
#hero {
  width: 100%;
  font-size: 1.5em;
  transition: color 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 130vh;
  color: rgb(228, 191, 91);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/JINX.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#hero h1 {
  font-size: 1.8em;
  position: relative;
  top: 50px;
  letter-spacing: 3px;
  font-family: "Jersey 25", cursive;
}

#hero h3 {
  font-size: 2em;
  letter-spacing: 3px;
  font-family: "Jersey 25", cursive;
}

#hero p {
  font-size: 30px;
  position: relative;
  bottom: 40px;
  font-family: "Jersey 25", cursive;
}

#hero .perfil {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  display: flex;
  margin: auto;
  position: relative;
  top: 130px;
}

.redes {
  display: inline-flex;
  margin-top: 0;
  position: relative;
  bottom: 35px;
}

.redes img {
  margin-left: 20px;
}

.redes img:hover {
  opacity: 0.6;
  transition: 0.9s;
}

.nav {
  list-style: none;
}

.link {
  text-decoration: none;
  color: rgb(228, 191, 91);
  letter-spacing: 3px;
  position: relative;
  line-height: 40px;
}

.link:hover {
  color: khaki;
}

#hero img {
  height: 40px;
  width: 40px;
  display: flex;
}

.linea {
  background-color: goldenrod;
  padding: 2px;
}

/*responsive*/
@media (max-width: 1200px) {
  #hero {
    margin: auto;
    width: 100%;
    display: flex;
    height: 900px;
  }
  #id {
    width: 100%;
    margin: auto;
  }
}
/*INICIO*/
#mini {
  color: white;
  text-align: center;
  text-align: justify;
}

#mini .container {
  padding: 100px 0px;
}

#mini h3 {
  font-size: 1.8em;
  color: white;
  text-decoration: overline;
  text-align: center;
}

#mini p {
  letter-spacing: 2px;
  font-weight: bold;
  line-height: 30px;
}

#mini .carta {
  background-repeat: repeat;
  background-size: cover;
  padding: 50px;
  margin: auto;
  border: 1px solid rgb(228, 191, 91);
  border-radius: 15px;
  width: 500px;
  height: 750px;
  position: relative;
}

#mini .cartas {
  display: flex;
  width: 80%;
  margin: 150px auto;
  gap: 20px;
}

.carta:first-child {
  background-image: url(../img/carta1.jpg);
}

.carta:nth-child(2) {
  background-image: url(../img/scorpion-dogma\ \(1\).png);
}

.carta:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/inspiracion.jpg);
}

.carta-button {
  padding: 7px;
  border-radius: 20px 0 20px 0;
  background-color: red;
  color: white;
  border: solid 2px darkred;
  font-size: 20px;
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 220px;
  display: none;
}

.carta-button:hover {
  background-color: white;
  color: brown;
  transition: 0.8s;
}

@media (max-width: 720px) {
  .cartas {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .carta p {
    display: none;
  }
  .carta-button {
    display: block;
    justify-content: center;
  }
}
.portfolio {
  max-width: 100%;
  display: flexbox;
  margin: 150px auto;
}

.portfolio h1 {
  font-size: 2em;
  padding-bottom: 20px;
  color: rgb(228, 191, 91);
  margin: 0;
  text-decoration: overline;
  letter-spacing: 3px;
}

.portfolio img {
  width: 450px;
  height: 600px;
  display: inline-flexbox;
  margin: auto;
  align-items: center;
}

footer {
  margin-top: 200px;
  color: rgb(228, 191, 91);
  text-align: center;
  padding: 0;
}

/*Quien Soy*/
.yo-container {
  width: 80%;
  display: flex;
  margin: 100px auto 0px;
  position: relative;
}

.nombre {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 100px;
  font-size: 2em;
  letter-spacing: 3px;
  color: rgb(228, 191, 91);
  text-decoration: overline;
}

.yo-img {
  display: flex;
  height: 500px;
  width: 500px;
  padding: 15px;
  border-radius: 15px;
}

.yo-biografia {
  line-height: 40px;
  display: flex;
  flex-direction: column;
  letter-spacing: 2px;
  font-size: 25px;
  padding: 15px;
  text-align: justify;
  color: rgb(228, 191, 91);
  align-items: center;
  justify-content: left;
}

.yo-container-dos {
  display: flex;
  margin: 300px auto;
  width: 80%;
  position: relative;
}

.yo-img-dos {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
}

.yo-biografia-dos {
  display: flex;
  flex-direction: column;
  letter-spacing: 2px;
  font-size: 25px;
  text-align: justify;
  color: rgb(228, 191, 91);
  align-items: center;
  justify-content: left;
}

/*Contacto*/
h1 {
  color: rgb(228, 191, 91);
  text-align: center;
  margin-top: 100px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 500px;
  margin: auto;
}

.form-input {
  width: 100%;
  margin: 20px auto;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 13px;
  border: 2px solid rgb(228, 191, 91);
}

.form-textarea {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 13px;
  border: 2px solid rgb(228, 191, 91);
  width: 100%;
  max-height: 300px;
  min-height: 200px;
  min-width: 500px;
  max-width: 500px;
}

.boton {
  top: 20px;
  right: 195px;
  position: relative;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 2px solid rgb(228, 191, 91);
  background-color: darkgoldenrod;
  border-radius: 15px;
  color: wheat;
}

.boton:hover {
  background-color: white;
  color: darkgoldenrod;
}

/*footer*/
.footer {
  margin-top: 200px;
  padding: 50px;
  border: solid 1px red;
}/*# sourceMappingURL=style.css.map */