body {
  background-image: radial-gradient(circle at 11% 37%, hsla(251, 0%, 28%, 0.05) 0%, hsla(251, 0%, 28%, 0.05) 50%, transparent 50%, transparent 56%, transparent 56%, transparent 100%), radial-gradient(circle at 82% 7%, hsla(251, 0%, 28%, 0.05) 0%, hsla(251, 0%, 28%, 0.05) 46%, transparent 46%, transparent 88%, transparent 88%, transparent 100%), radial-gradient(circle at 81% 79%, hsla(251, 0%, 28%, 0.05) 0%, hsla(251, 0%, 28%, 0.05) 33%, transparent 33%, transparent 89%, transparent 89%, transparent 100%), radial-gradient(circle at 68% 96%, hsla(251, 0%, 28%, 0.05) 0%, hsla(251, 0%, 28%, 0.05) 8%, transparent 8%, transparent 26%, transparent 26%, transparent 100%), radial-gradient(circle at 69% 20%, hsla(251, 0%, 28%, 0.05) 0%, hsla(251, 0%, 28%, 0.05) 84%, transparent 84%, transparent 86%, transparent 86%, transparent 100%), radial-gradient(circle at 49% 22%, hsla(251, 0%, 28%, 0.05) 0%, hsla(251, 0%, 28%, 0.05) 71%, transparent 71%, transparent 78%, transparent 78%, transparent 100%), radial-gradient(circle at 23% 60%, hsla(251, 0%, 28%, 0.05) 0%, hsla(251, 0%, 28%, 0.05) 6%, transparent 6%, transparent 40%, transparent 40%, transparent 100%), radial-gradient(circle at 86% 33%, hsla(251, 0%, 28%, 0.05) 0%, hsla(251, 0%, 28%, 0.05) 13%, transparent 13%, transparent 98%, transparent 98%, transparent 100%), radial-gradient(circle at 38% 60%, hsla(251, 0%, 28%, 0.05) 0%, hsla(251, 0%, 28%, 0.05) 15%, transparent 15%, transparent 61%, transparent 61%, transparent 100%), linear-gradient(0deg, hsl(167, 0%, 6%), hsl(167, 0%, 6%));
  margin: 0;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  cursor: default;
}

/*header*/
#hero {
  width: 100%;
  font-size: 2em;
  transition: color 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  color: rgb(228, 191, 91);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Asteca.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.icono-menu {
  margin: auto;
  padding: 5px 20px 5px;
  font-size: 40px;
  color: wheat;
  text-shadow: 20px 0 20px #171718;
  transition: 0.3s;
}

.icono-menu:hover {
  opacity: 1;
  color: rgb(228, 191, 91);
}

#hero h1 {
  font-size: 2em;
  position: relative;
  top: 50px;
  letter-spacing: 3px;
  font-family: "Jersey 25", cursive;
  text-shadow: 7px 0 2px #171718;
}

#hero h3 {
  font-size: 2em;
  letter-spacing: 3px;
  font-family: "Jersey 25", cursive;
  text-shadow: 6px 0 2px #171718;
}

#hero p {
  font-size: 30px;
  position: relative;
  bottom: 40px;
  font-family: "Jersey 25", cursive;
  text-shadow: 6px 0 2px #171718;
}

#hero .perfil {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: solid 3px #171718;
  -o-object-fit: cover;
  object-fit: cover;
  display: flex;
  margin: auto;
  position: relative;
  top: 130px;
}

.redes {
  display: inline-flex;
  margin-top: 0;
  position: relative;
  bottom: 35px;
  text-decoration: none;
}

.redes img {
  margin-left: 20px;
}

.redes img:hover {
  opacity: 0.6;
  transition: 0.9s;
}

.nav {
  list-style: none;
}

.link {
  text-decoration: none;
  color: rgb(228, 191, 91);
  letter-spacing: 3px;
  position: relative;
  line-height: 40px;
  font-weight: bold;
  text-shadow: 6px 0 2px #171718;
}

.link:hover {
  color: khaki;
}

#hero img {
  height: 40px;
  width: 40px;
  display: flex;
}

.linea {
  background-color: goldenrod;
  padding: 2px;
}

/*responsive*/
@media (min-width: 1200px) {
  #hero {
    width: 100%;
    font-size: 1.8em;
    transition: color 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
    color: rgb(228, 191, 91);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/mono.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #hero .titulo {
    font-size: 2em;
  }
}
@media only screen and (min-width: 720px) and (max-width: 1200px) {
  #hero {
    width: 100%;
    font-size: 1.8em;
    transition: color 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: rgb(228, 191, 91);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/mono.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #hero h1 {
    font-size: 1.8em;
  }
  #hero h3 {
    font-size: 1.8em;
  }
  #hero p {
    font-size: 2em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 720px) {
  #hero {
    width: 100%;
    font-size: 1.2em;
    transition: color 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 130vh;
    flex-direction: column;
    color: rgb(228, 191, 91);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/mono.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.video-container {
  width: 60%;
  display: flex;
  padding-top: 150px;
  height: 120vh;
  margin: auto;
}

.video {
  width: 100%;
  opacity: 0.7;
  -o-object-fit: initial;
     object-fit: initial;
  border-radius: 20px;
  box-shadow: 30px 15px rgb(48, 48, 47);
}

.inicio-section {
  width: 100%;
  display: flex;
  padding: 100px 150px 100px 150px;
}

.inicio-section1 {
  width: 100%;
  display: flex;
  padding: 250px 150px 100px;
}

.inicio-img {
  width: 500px;
  height: 600px;
  display: flex;
  position: relative;
  top: 60px;
  border: solid 3px grey;
}

.inicio-img2 {
  width: 500px;
  height: 650px;
  display: flex;
  position: relative;
  top: 45px;
  border: solid 3px gray;
}

.inicio-img3 {
  width: 500px;
  height: 600px;
  display: flex;
  position: relative;
  top: 45px;
  border: solid 3px grey;
}

.inicio-p {
  display: flex;
  letter-spacing: 2px;
  line-height: 35px;
  font-size: 25px;
  text-align: justify;
  padding: 0 30px;
  color: white;
}

.inicio-div {
  display: flex;
}

.titulo2 {
  color: rgb(226, 198, 91);
  font-size: 1.6em;
  letter-spacing: 3px;
  text-decoration: overline;
}

.portfolio {
  width: 100%;
  margin: auto;
  padding: 120px 20px 200px 20px;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 600px);
  grid-template-areas: "img1 img17 img15 img4" "img5 img16 img20 img18" "img8 img7 img6 img10" "img13 img14 img12 img2" "img11 img19 img9 img3";
  row-gap: 30px;
}

.img1 {
  grid-area: img1;
  opacity: 0.5;
}

.img1:hover {
  opacity: 1;
  transition: 0.8s;
}

.img2 {
  grid-area: img2;
  opacity: 0.5;
}

.img2:hover {
  opacity: 1;
  transition: 0.8s;
}

.img3 {
  grid-area: img3;
  opacity: 0.5;
}

.img3:hover {
  opacity: 1;
  transition: 0.8s;
}

.img4 {
  grid-area: img4;
  opacity: 0.5;
}

.img4:hover {
  opacity: 1;
  transition: 0.8s;
}

.img5 {
  grid-area: img5;
  opacity: 0.5;
}

.img5:hover {
  opacity: 1;
  transition: 0.8s;
}

.img6 {
  grid-area: img6;
  opacity: 0.5;
}

.img6:hover {
  opacity: 1;
  transition: 0.8s;
}

.img7 {
  grid-area: img7;
  opacity: 0.5;
}

.img7:hover {
  opacity: 1;
  transition: 0.8s;
}

.img8 {
  grid-area: img8;
  opacity: 0.5;
}

.img8:hover {
  opacity: 1;
  transition: 0.8s;
}

.img9 {
  grid-area: img9;
  opacity: 0.5;
}

.img9:hover {
  opacity: 1;
  transition: 1.2s;
}

.img10 {
  grid-area: img10;
  opacity: 0.5;
}

.img10:hover {
  opacity: 1;
  transition: 0.8s;
}

.img11 {
  grid-area: img11;
  opacity: 0.5;
}

.img11:hover {
  opacity: 1;
  transition: 0.8s;
}

.img12 {
  grid-area: img12;
  opacity: 0.5;
}

.img12:hover {
  opacity: 1;
  transition: 0.8s;
}

.img13 {
  grid-area: img13;
  opacity: 0.5;
}

.img13:hover {
  opacity: 1;
  transition: 0.8s;
}

.img14 {
  grid-area: img14;
  opacity: 0.5;
}

.img14:hover {
  opacity: 1;
  transition: 0.8s;
}

.img15 {
  grid-area: img15;
  opacity: 0.5;
}

.img15:hover {
  opacity: 1;
  transition: 0.8s;
}

.img16 {
  grid-area: img16;
  opacity: 0.5;
}

.img16:hover {
  opacity: 1;
  transition: 0.8s;
}

.img17 {
  grid-area: img17;
  opacity: 0.5;
}

.img17:hover {
  opacity: 1;
  transition: 0.8s;
}

.img18 {
  grid-area: img18;
  opacity: 0.5;
}

.img18:hover {
  opacity: 1;
  transition: 0.8s;
}

.img19 {
  grid-area: img19;
  opacity: 0.5;
}

.img19:hover {
  opacity: 1;
  transition: 0.8s;
}

.img20 {
  grid-area: img20;
  opacity: 0.5;
}

.img20:hover {
  opacity: 1;
  transition: 0.8s;
}

.portfolio img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Quien Soy*/
.body2 {
  background-color: #171718;
}

.nombre {
  font-size: 3em;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  color: rgb(228, 191, 91);
  text-shadow: 7px 0 2px black;
}

.yo-container {
  padding-top: 150px;
  width: 90%;
  display: flex;
  margin: auto;
}

.yo-container img {
  width: 450px;
  height: 550px;
  border: double 6px rgb(221, 161, 31);
  border-radius: 60px 0 60px 0;
}

.yo-container-dos {
  padding-top: 70px;
  padding-bottom: 200px;
  margin: auto;
  width: 90%;
  display: flex;
}

.yo-container-dos img {
  width: 500px;
  width: 600px;
  border: double 6px rgb(221, 161, 31);
  border-radius: 60px 0 60px 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.parrafo1 {
  font-size: 2em;
  color: white;
  display: flex;
  padding-left: 50px;
  text-align: justify;
  letter-spacing: 2px;
}

.parrafo2 {
  font-size: 2em;
  color: white;
  display: flex;
  padding-right: 50px;
  text-align: justify;
  letter-spacing: 2px;
}

/*Contacto*/
h1 {
  color: rgb(228, 191, 91);
  text-align: center;
  margin-top: 100px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 500px;
  margin: auto;
  padding-bottom: 200px;
}

.form-input {
  width: 100%;
  margin: 20px auto;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 13px;
  border: 2px solid rgb(228, 191, 91);
}

.form-textarea {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 13px;
  border: 2px solid rgb(228, 191, 91);
  width: 100%;
  max-height: 300px;
  min-height: 200px;
  min-width: 500px;
  max-width: 500px;
}

.boton {
  top: 20px;
  right: 195px;
  position: relative;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 2px solid rgb(228, 191, 91);
  background-color: darkgoldenrod;
  border-radius: 15px;
  color: wheat;
}

.boton:hover {
  background-color: white;
  color: darkgoldenrod;
}

/*footer*/
.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
}

.div-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(228, 191, 91);
  font-size: 18px;
}

.redes-footer a {
  color: white;
  font-size: 30px;
  gap: 10px;
  padding: 10px;
}

.redes-footer a:hover {
  color: bisque;
  transition: 0, 5s;
}

.div-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

.enlaces {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lista {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 15px;
  padding: 20px;
}

.lista a {
  text-decoration: none;
  color: rgb(228, 191, 91);
  font-size: 20px;
}

.lista a:hover {
  color: wheat;
}/*# sourceMappingURL=style.css.map */