body {
  background-image: radial-gradient(circle at 11% 37%, hsla(251, 0%, 28%, 0.05) 0%, hsla(251, 0%, 28%, 0.05) 50%, transparent 50%, transparent 56%, transparent 56%, transparent 100%), radial-gradient(circle at 82% 7%, hsla(251, 0%, 28%, 0.05) 0%, hsla(251, 0%, 28%, 0.05) 46%, transparent 46%, transparent 88%, transparent 88%, transparent 100%), radial-gradient(circle at 81% 79%, hsla(251, 0%, 28%, 0.05) 0%, hsla(251, 0%, 28%, 0.05) 33%, transparent 33%, transparent 89%, transparent 89%, transparent 100%), radial-gradient(circle at 68% 96%, hsla(251, 0%, 28%, 0.05) 0%, hsla(251, 0%, 28%, 0.05) 8%, transparent 8%, transparent 26%, transparent 26%, transparent 100%), radial-gradient(circle at 69% 20%, hsla(251, 0%, 28%, 0.05) 0%, hsla(251, 0%, 28%, 0.05) 84%, transparent 84%, transparent 86%, transparent 86%, transparent 100%), radial-gradient(circle at 49% 22%, hsla(251, 0%, 28%, 0.05) 0%, hsla(251, 0%, 28%, 0.05) 71%, transparent 71%, transparent 78%, transparent 78%, transparent 100%), radial-gradient(circle at 23% 60%, hsla(251, 0%, 28%, 0.05) 0%, hsla(251, 0%, 28%, 0.05) 6%, transparent 6%, transparent 40%, transparent 40%, transparent 100%), radial-gradient(circle at 86% 33%, hsla(251, 0%, 28%, 0.05) 0%, hsla(251, 0%, 28%, 0.05) 13%, transparent 13%, transparent 98%, transparent 98%, transparent 100%), radial-gradient(circle at 38% 60%, hsla(251, 0%, 28%, 0.05) 0%, hsla(251, 0%, 28%, 0.05) 15%, transparent 15%, transparent 61%, transparent 61%, transparent 100%), linear-gradient(0deg, hsl(167, 0%, 6%), hsl(167, 0%, 6%));
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  cursor: default;
}

/*header*/
#hero {
  width: 100%;
  font-size: 2em;
  transition: color 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  color: rgba(228, 110, 13, 0.527);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/CASCA.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.icono-menu {
  margin: auto;
  padding: 0px 15px 0px;
  font-size: 40px;
  color: peachpuff;
  text-shadow: 20px 0 20px #171718;
  transition: 0.3s;
}

.icono-menu:hover {
  opacity: 1;
  color: rgb(223, 174, 142);
}

#hero .titulo {
  font-size: 1.4em;
  letter-spacing: 3px;
  font-family: "Black Ops One", curive;
  text-shadow: 6px 0 2px #171718;
  display: flex;
  flex-direction: column;
  line-height: 0px;
  padding-bottom: 50px;
  color: peachpuff;
}
#hero .titulo p {
  font-size: 30px;
}

#hero .perfil {
  display: flex;
  transition: 2s;
}
#hero .perfil:hover {
  transform: rotateY(360deg);
}
#hero .perfil img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 120px;
  width: 120px;
  border: solid 3px #171718;
  border-radius: 50%;
}

.nav {
  list-style: none;
  transition: 0.8s;
}
.nav:hover {
  transform: scale(1.2);
}

.link {
  font-size: 25px;
  text-decoration: none;
  color: peachpuff;
  letter-spacing: 3px;
  position: relative;
  line-height: 40px;
  font-weight: bold;
  text-shadow: 6px 0 2px #171718;
}

.link:hover {
  color: rgb(223, 174, 142);
}

#hero img {
  height: 40px;
  width: 40px;
  display: flex;
}

.linea {
  background-color: peachpuff;
  padding: 2px;
}

/*responsive*/
@media (max-width: 780px) {
  #hero .titulo {
    font-size: 1em;
  }
}
@media (max-width: 580px) {
  #hero .titulo {
    font-size: 0.7em;
  }
  #hero .titulo p {
    font-size: 0.6em;
  }
}
.video-container {
  width: 60%;
  display: flex;
  padding-top: 150px;
  height: 120vh;
  margin: auto;
}

.video {
  width: 100%;
  opacity: 0.7;
  -o-object-fit: initial;
     object-fit: initial;
  border-radius: 20px;
  box-shadow: 30px 15px rgb(48, 48, 47);
}

.inicio-section {
  width: 100%;
  display: flex;
  padding: 100px 150px 100px 150px;
}

.inicio-section1 {
  width: 100%;
  display: flex;
  padding: 250px 150px 100px;
}

.inicio-img {
  width: 500px;
  height: 600px;
  display: flex;
  position: relative;
  top: 60px;
}
.inicio-img img {
  width: 500px;
  height: 600px;
  border: solid 3px gray;
}

.inicio-img2 {
  width: 500px;
  height: 650px;
  display: flex;
  position: relative;
  top: 45px;
}
.inicio-img2 img {
  width: 500px;
  height: 650px;
  border: solid 3px gray;
}

.inicio-img3 {
  width: 500px;
  height: 600px;
  display: flex;
  position: relative;
  top: 45px;
}
.inicio-img3 img {
  width: 500px;
  height: 600px;
  border: solid 3px gray;
}

.inicio-p {
  display: flex;
  letter-spacing: 2px;
  line-height: 35px;
  font-size: 25px;
  text-align: justify;
  padding: 0 30px;
  color: white;
}

.inicio-div {
  display: flex;
}

@media (max-width: 1024px) {
  .video-container {
    width: 80%;
  }
  .inicio-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 250px 70px 100px;
  }
  .inicio-img {
    display: flex;
    margin: auto;
  }
  .inicio-img2 {
    display: flex;
    margin: auto;
    padding-bottom: 100px;
  }
  .inicio-img3 {
    display: flex;
    margin: auto;
    padding-bottom: 100px;
  }
}
.titulo-portfolio {
  display: flex;
  margin: auto;
  justify-content: center;
  padding-top: 100px;
}
.titulo-portfolio h2 {
  font-size: 2em;
  text-decoration: overline;
  color: peachpuff;
  letter-spacing: 3px;
  text-shadow: 2px 2px 20px wheat;
}

.portfolio {
  width: 100%;
  margin: auto;
  padding: 120px 50px 200px 50px;
  -moz-column-gap: 70px;
       column-gap: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 600px);
  grid-template-areas: "img1 img17 img15 img4" "img5 img16 img20 img18" "img8 img7 img6 img10" "img13 img14 img12 img2" "img11 img19 img9 img3";
  row-gap: 70px;
}

.img1 {
  grid-area: img1;
  opacity: 0.5;
  transition: 1s;
}
.img1:hover {
  opacity: 1;
  transition: 0.8s;
  transform: scale(1.2);
}

.img2 {
  grid-area: img2;
  opacity: 0.5;
  transition: 1s;
}
.img2:hover {
  opacity: 1;
  transition: 0.8s;
  transform: scale(1.2);
}

.img3 {
  grid-area: img3;
  opacity: 0.5;
  transition: 1s;
}
.img3:hover {
  opacity: 1;
  transition: 0.8s;
  transform: scale(1.2);
}

.img4 {
  grid-area: img4;
  opacity: 0.5;
  transition: 1s;
}
.img4:hover {
  opacity: 1;
  transition: 0.8s;
  transform: scale(1.2);
}

.img5 {
  grid-area: img5;
  opacity: 0.5;
  transition: 1s;
}
.img5:hover {
  opacity: 1;
  transition: 0.8s;
  transform: scale(1.2);
}

.img6 {
  grid-area: img6;
  opacity: 0.5;
  transition: 1s;
}
.img6:hover {
  opacity: 1;
  transition: 0.8s;
  transform: scale(1.2);
}

.img7 {
  grid-area: img7;
  opacity: 0.5;
  transition: 1s;
}
.img7:hover {
  opacity: 1;
  transition: 0.8s;
  transform: scale(1.2);
}

.img8 {
  grid-area: img8;
  opacity: 0.5;
  transition: 1s;
}
.img8:hover {
  opacity: 1;
  transition: 0.8s;
  transform: scale(1.2);
}

.img9 {
  grid-area: img9;
  opacity: 0.5;
  transition: 1s;
}
.img9:hover {
  opacity: 1;
  transition: 0.8s;
  transform: scale(1.2);
}

.img10 {
  grid-area: img10;
  opacity: 0.5;
  transition: 1s;
}
.img10:hover {
  opacity: 1;
  transition: 0.8s;
  transform: scale(1.2);
}

.img11 {
  grid-area: img11;
  opacity: 0.5;
  transition: 1s;
}
.img11:hover {
  opacity: 1;
  transition: 0.8s;
  transform: scale(1.2);
}

.img12 {
  grid-area: img12;
  opacity: 0.5;
  transition: 1s;
}
.img12:hover {
  opacity: 1;
  transition: 0.8s;
  transform: scale(1.2);
}

.img13 {
  grid-area: img13;
  opacity: 0.5;
  transition: 1s;
}
.img13:hover {
  opacity: 1;
  transition: 0.8s;
  transform: scale(1.2);
}

.img14 {
  grid-area: img14;
  opacity: 0.5;
  transition: 1s;
}
.img14:hover {
  opacity: 1;
  transition: 0.8s;
  transform: scale(1.2);
}

.img15 {
  grid-area: img15;
  opacity: 0.5;
  transition: 1s;
}
.img15:hover {
  opacity: 1;
  transition: 0.8s;
  transform: scale(1.2);
}

.img16 {
  grid-area: img16;
  opacity: 0.5;
  transition: 1s;
}
.img16:hover {
  opacity: 1;
  transition: 0.8s;
  transform: scale(1.2);
}

.img17 {
  grid-area: img17;
  opacity: 0.5;
  transition: 1s;
}
.img17:hover {
  opacity: 1;
  transition: 0.8s;
  transform: scale(1.2);
}

.img18 {
  grid-area: img18;
  opacity: 0.5;
  transition: 1s;
}
.img18:hover {
  opacity: 1;
  transition: 0.8s;
  transform: scale(1.2);
}

.img19 {
  grid-area: img19;
  opacity: 0.5;
  transition: 1s;
}
.img19:hover {
  opacity: 1;
  transition: 0.8s;
  transform: scale(1.2);
}

.img20 {
  grid-area: img20;
  opacity: 0.5;
  transition: 1s;
}
.img20:hover {
  opacity: 1;
  transition: 0.8s;
  transform: scale(1.2);
}

.portfolio img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1024px) {
  .portfolio {
    width: 100%;
    margin: auto;
    padding: 120px 50px 200px 50px;
    -moz-column-gap: 70px;
         column-gap: 70px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(10, 500px);
    grid-template-areas: "img1 img17" "img15 img4" "img5 img16" "img20 img18" "img8 img7" "img6 img10" "img13 img14" "img12 img2" "img11 img19" "img9 img3";
    row-gap: 70px;
  }
}
@media (max-width: 780px) {
  .portfolio {
    width: 90%;
    margin: auto;
    padding: 120px 50px 200px 50px;
    -moz-column-gap: 70px;
         column-gap: 70px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(20, 700px);
    grid-template-areas: "img1" "img17" "img15" "img4" "img5" "img16" "img20" "img18" "img8" "img7" "img6" " img10" "img13" " img14" "img12" "img2" "img11" "img19" "img9" "img3";
    row-gap: 80px;
  }
}
@media (max-width: 580px) {
  .portfolio {
    width: 100%;
    margin: auto;
    padding: 120px 50px 200px 50px;
    -moz-column-gap: 70px;
         column-gap: 70px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(20, 700px);
    grid-template-areas: "img1" "img17" "img15" "img4" "img5" "img16" "img20" "img18" "img8" "img7" "img6" " img10" "img13" " img14" "img12" "img2" "img11" "img19" "img9" "img3";
    row-gap: 80px;
  }
}
/*Quien Soy*/
.nombre {
  font-size: 3em;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  color: peachpuff;
  text-shadow: 7px 0 2px black;
}

.yo-container {
  padding-top: 150px;
  width: 90%;
  display: flex;
  margin: auto;
}

.yo-container img {
  width: 450px;
  height: 550px;
  border: solid 3px gray;
  border-radius: 60px 0 60px 0;
}

.yo-container-dos {
  padding-top: 70px;
  padding-bottom: 200px;
  margin: auto;
  width: 90%;
  display: flex;
}

.yo-container-dos img {
  width: 500px;
  width: 600px;
  border: solid 3px gray;
  border-radius: 60px 0 60px 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.parrafo1 {
  font-size: 2em;
  color: white;
  display: flex;
  padding-left: 50px;
  text-align: justify;
  letter-spacing: 2px;
}

.parrafo2 {
  font-size: 2em;
  color: white;
  display: flex;
  padding-right: 50px;
  text-align: justify;
  letter-spacing: 2px;
}

@media (max-width: 1200px) {
  .nombre {
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    color: peachpuff;
    text-shadow: 7px 0 2px black;
  }
  .yo-container img {
    width: 400px;
    height: 500px;
    border: solid 3px gray;
    border-radius: 60px 0 60px 0;
  }
  .yo-container-dos img {
    width: 450px;
    width: 550px;
    border: solid 3px gray;
    border-radius: 60px 0 60px 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .parrafo1 {
    font-size: 1.5em;
    color: white;
    display: flex;
    padding-left: 50px;
    text-align: justify;
    letter-spacing: 2px;
  }
  .parrafo2 {
    font-size: 1.5em;
    color: white;
    display: flex;
    padding-right: 50px;
    text-align: justify;
    letter-spacing: 2px;
  }
}
@media (max-width: 1024px) {
  .yo-container {
    padding-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .yo-container img {
    display: flex;
    margin: 0 auto 30px;
  }
  .yo-container p {
    font-size: 1.5em;
    color: white;
    display: flex;
    margin: auto;
    text-align: justify;
    letter-spacing: 2px;
  }
  .yo-container-dos {
    padding-top: 5%;
    padding-bottom: 200px;
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .yo-container-dos img {
    display: flex;
    margin: 30px auto;
  }
  .parrafo2 {
    font-size: 1.5em;
    color: white;
    display: flex;
    margin: auto;
    text-align: justify;
    letter-spacing: 2px;
  }
}
/*Contacto*/
.h1-contacto {
  color: peachpuff;
  text-align: center;
  margin-top: 100px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 20px wheat;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 500px;
  margin: auto;
  padding-bottom: 200px;
}

.form-input {
  width: 100%;
  margin: 20px auto 0;
  gap: 20px;
  display: flex;
  align-items: center;
  padding: 13px;
  border: 2px solid peachpuff;
}

.form-input-2 {
  width: 100%;
  margin: 20px auto;
  gap: 20px;
  display: flex;
  align-items: center;
  padding: 13px;
  border: 2px solid peachpuff;
}

.form-textarea {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 13px;
  border: 2px solid peachpuff;
  width: 100%;
  max-height: 300px;
  min-height: 200px;
  min-width: 500px;
  max-width: 500px;
}

.boton {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  border: 2px solid peachpuff;
  background-color: darkgoldenrod;
  border-radius: 15px;
  color: wheat;
}

.boton:hover {
  background-color: white;
  color: darkgoldenrod;
}

@media (max-width: 580px) {
  .form-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    padding-bottom: 200px;
  }
  .form-textarea {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 13px;
    border: 2px solid peachpuff;
    width: 100%;
    max-height: 300px;
    min-height: 200px;
    min-width: 400px;
    max-width: 400px;
  }
  .boton {
    display: flex;
    margin: 20px auto;
    justify-content: center;
  }
}
/*footer*/
.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
}

.div-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: peachpuff;
  font-size: 18px;
}

.redes-footer a {
  color: white;
  font-size: 30px;
  gap: 10px;
  padding: 10px;
}

.redes-footer a:hover {
  color: rgb(223, 174, 142);
  transition: 0, 5s;
}

.div-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

.enlaces {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lista {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 15px;
  padding: 20px;
}

.lista a {
  text-decoration: none;
  color: peachpuff;
  font-size: 20px;
}

.lista a:hover {
  color: rgb(223, 174, 142);
}/*# sourceMappingURL=style.css.map */